<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.ssm.mapper.EmployeeMapper">

    <!--void saveEmployee(Employee employee);-->
    <update id="saveEmployee" >
        update t_emp
        set emp_name=#{employee.empName},
            age = #{employee.age},
            gender = #{employee.gender}
        where emp_id = #{employee.empId}
    </update>

    <!--List<Employee> getAllEmployee();-->
    <!--这里能够用别名，是因为spring配置文件里有typeAliasesPackage属性-->
    <select id="getAllEmployee" resultType="employee">
        select * from t_emp
    </select>

    <!--Employee getEmployeeById(Integer id);-->
    <select id="getEmployeeById" resultType="employee">
        select * from t_emp where emp_id = #{id}
    </select>

    <!--void deleteEmployeeById(Integer id)-->
    <delete id="deleteEmployeeById">
        delete from t_emp where emp_id = #{id}
    </delete>
</mapper>
